<p class="title is-4 has-text-primary has-text-centered">
  Capacity Building
</p>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://dataliteracy.github.io/images/ta.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Training on Applied econometrics
          </p>
          <p class="subtitle is-6">
            The course aims to teach the tools and techniques of applied
            statistics while working with complex household survey data. The
            focus of the course will be on cross-sectional econometric analysis,
            with some discussion of panel data analysis.
          </p>
        </div>

        <div class="card-footer">
          <a
            href="https://dataliteracy.github.io/applied_econometrics/"
            target="_blank"
            class="card-footer-item"
            >Redirect</a
          >
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://dataliteracy.github.io/images/header3.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Nepal Data Literacy Program
          </p>
          <p class="subtitle is-6">
            Nepal Data Literacy Program is a 100-hour data literacy curriculum
            designed by the World Bank team to catalyze stronger data driven
            decision-making by government and non-government actors. As part of
            the program, a 100 hour training of the trainers (T-O-T) workshop
            was delivered in 2019. The course materials that covers topics such
            as spreadsheets, python, tableau etc. to find, analyze, visualize
            and synthesize data has also been curated in an open data portal.
          </p>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a
            href="https://dataliteracy.github.io/"
            target="_blank"
            class="card-footer-item"
            >Redirect</a
          >
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://www.worldbank.org/content/dam/photos/780x439/2019/dec-2/solvathon.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Solveathon 2019
          </p>
          <p class="subtitle is-6">
            The first of its kind, Solve-a-thon 2019 created a collaborative
            platform for professionals from diverse backgrounds(e.g., data
            scientists, analysts, web designers, researchers, SMEs etc.) to work
            on data-driven projects to tackle development challenges
          </p>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a
            href="https://www.worldbank.org/en/news/press-release/2019/12/17/young-data-enthusiasts-tackle-development-challenges-at-first-of-its-kind-nepal-solve-a-thon-2019"
            target="_blank"
            class="card-footer-item"
            >Redirect</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Phasellus nec iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6 is-spaced">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Phasellus nec iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
  </div>
</div>
