<div class="container">
  <p class="title is-4 has-text-primary">
    Capacity Building
  </p>
  <hr />
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height">
        <a href="/dataliteracy">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://dataliteracy.github.io/images/header3.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Nepal Data Literacy Program
            </p>
            <p class="subtitle is-6">
              Designed to catalyze stronger data driven decision-making by
              government and non-government actors across the country. As part
              of the program, a 100-hour training of the trainers workshop was
              delivered in 2019.
            </p>
          </div>
        </a>
        <!-- <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a
            href="https://dataliteracy.github.io/"
            target="_blank"
            class="card-footer-item"
            >Redirect</a
          >
        </div> -->
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height">
        <a href="/solveathon">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://www.worldbank.org/content/dam/photos/780x439/2019/dec-2/solvathon.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Solveathon 2019
            </p>
            <p class="subtitle is-6">
              A collaborative platform for professionals from diverse
              backgrounds to work on data-driven projects to tackle development
              challenges
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height">
        <a href="/econometrics">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://dataliteracy.github.io/images/ta.jpg"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Training on Applied econometrics
            </p>
            <p class="subtitle is-6">
              The course equips practitioners with the tools and techniques of
              applied statistics that could be used while working with complex
              set of economic and social data.
            </p>
          </div>
        </a>
        <!-- <div class="card-footer">
          <a
            href="https://dataliteracy.github.io/applied_econometrics/"
            target="_blank"
            class="card-footer-item"
            >Redirect</a
          >
        </div> -->
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-16by9">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-4 is-spaced">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <!-- <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div> -->
      </div>
      <div class="column is-one-third">
        <div class="card equal-height hide">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Title
            </p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
            <br />
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>

          <div class="card-footer">
            <a href="#" class="card-footer-item">More</a>
            <a href="#" class="card-footer-item">Redirect</a>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card equal-height hide">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Title
            </p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            <br />
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>

          <div class="card-footer">
            <a href="#" class="card-footer-item">More</a>
            <a href="#" class="card-footer-item">Redirect</a>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-one-third">
        <div class="card equal-height hide">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Title
            </p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
            <br />
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>

          <div class="card-footer">
            <a href="#" class="card-footer-item">More</a>
            <a href="#" class="card-footer-item">Redirect</a>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card equal-height hide">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Title
            </p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
            <br />
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>

          <div class="card-footer">
            <a href="#" class="card-footer-item">More</a>
            <a href="#" class="card-footer-item">Redirect</a>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card equal-height hide">
          <div class="card-image">
            <figure class="image is-16by9">
              <img
                src="https://bulma.io/images/placeholders/1280x960.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4 is-spaced">
              Title
            </p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            <br />
            <br />
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>

          <div class="card-footer">
            <a href="#" class="card-footer-item">More</a>
            <a href="#" class="card-footer-item">Redirect</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
