<p class="title is-4 has-text-primary has-text-centered">
  Data Projects
</p>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Provincial SDG Dashboard
          </p>
          This portal is a joint product of the National Planning Commission and
          the Central Bureau of Statistics of the Government of Nepal and the
          World Bank, with ...
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a
            href="https://dataviz.worldbank.org/views/ProvincialSDGDashboardv8/Province?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no"
            target="_blank"
            class="card-footer-item"
            >Redirect</a
          >
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Phasellus nec iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Phasellus nec iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card equal-height hide">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <p class="title is-6">
            Title
          </p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Phasellus nec iaculis mauris.
          <br />
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>

        <div class="card-footer">
          <a href="#" class="card-footer-item">More</a>
          <a href="#" class="card-footer-item">Redirect</a>
        </div>
      </div>
    </div>
  </div>
</div>
