<div class="container ">
  <div class="columns">
    <div class="column is-three-fifths">
      <p class="title is-4 has-text-primary">
        APPLIED ECONOMETRICS FOR PRACTITIONERS
      </p>
      <div class="block">
        <center>
          <img class="is-16by9" src="{{ "images/econ1.PNG" | relURL }}" alt=""
          />
        </center>
      </div>
      <p>
        This course aims to train and equip young professionals with the tools
        and techniques of applied statistics and econometrics so they are able
        to carry out empirical analysis on diverse issues. The training, divided
        into two phases, focuses on the issues related to international
        development and domestic social issues-- poverty, education, health,
        agriculture, labor issues-- of Nepal, and relies on exercises and
        examples from the Nepal Living Standard Survey (NLSS 2011) data. It
        covers some advanced, but commonly needed, methods of statistical
        analysis including cross-sectional econometric analysis and discussion
        on panel data analysis. Overall, its emphasis is on the application, not
        derivation, of methodology.
        <br /><br />
        Some of the topics covered include: review of multivariate regression
        and violations of model assumptions, complex sample design –
        stratification and multi-stage selection, instrumental variables
        estimation, quantile regression and robust estimation, introduction to
        the bootstrap and so on.
        <br /><br />
        By the end of the course, the participants will be able to answer
        research question such as: What factors are associated with the poverty
        outcomes in Nepal? They will also be able to critically review and
        correctly interpret regression results. Moreover participants will
        develop a habit of working on Stata dofile and be comfortable
        implementing the econometric software: Stata-12.
      </p>
    </div>
    <div class="column"></div>
  </div>
</div>
