<!-- feature text and image -->
<section class="section">
  <div class="columns is-mobile is-centered">
    <div
      class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd"
    >
      <div class="columns is-desktop">
        <div class="column is-6-desktop">
          <figure class="image is-5by3">
            <img src="images/header.jpg" />
          </figure>
        </div>
        <div class="column is-6-desktop">
          <section>
            <p class="title is-3 has-text-primary is-spaced">
              Data Projects for Nepal
            </p>
            <p class="subtitle is-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum
              <br /><br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
