<div class="container">
  <div class="columns is-desktop">
    <div class="column is-6-desktop">
      <figure class="image is-5by3">
        <img src="images/header2.jpg" />
      </figure>
    </div>
    <div class="column is-6-desktop">
      <section>
        <p class="title is-3 has-text-primary is-spaced">
          Evidence for better policy
        </p>
        <p class="subtitle is-5">
          Nepal’s historic transition to federalism has surged the demand for
          more and better data. There is a need to transform existing data into
          actionable insights and policy outcomes that improve people’s lives,
          and hold others accountable. To achieve this, Nepalis – across all the
          sectors – need to access and use timely and actionable data to make
          decisions, enhance public accountability, identify risks and
          opportunities, track progress, and more. Bearing this in mind, the
          World Bank is working to propel the data sharing and using capacity of
          wider population, and in the end, optimize the value of data.
        </p>
      </section>
    </div>
  </div>
</div>
