<!-- meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:site_name" content="Data Projects for Nepal" />
<meta property="og:title" content="Data Projects for Nepal" />
<meta property="og:url" content="https://dataprojectsfornepal.github.io/" />
<meta property="og:type" content="website" />
<meta property="og:description" content="Data Projects for Nepal" />
<meta
  property="og:image"
  content="https://dataliteracy.github.io/images/header2.jpg"
/>
<link rel="shortcut icon" href="{{ "images/logo.png" | relURL }}" />
<!-- style sheets -->
<link rel="stylesheet" href="{{ "css/bulma.css" | relURL }}" />
<link
  href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
  rel="stylesheet"
/>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
