<div class="container">
  <!-- <p class="title is-5 has-text-primary">
    Kathmandu University School of Management
  </p>
  <p class="subtitle is-5">
    Evidence Based Business Analytics Course
  </p> -->
  <figure class="image is-3by1">
    <img style="height:75%" src="{{ "images/kusom_feature.jpg" | relURL }}" />
  </figure>
  <p class="subtitle is-5">
    In today's digital economy, data is the new oil. Data provides valuable
    insights and evidence to make better decisions, be it in business,
    government or the private sector. The newer and better technologies are
    reducing the cost of computational processing and increasing the use of data
    and analytics in a range of disciplines. As such, data literacy and ability
    to work with huge sets of data are of primal importance, now, and will be in
    the future.
    <br /><br />
    This evidence-based business analytics course was developed by Kathmandu
    University School of Management (KUSOM) in collaboration with World Bank's
    Poverty & Equity Global Practice in Nepal. Nine faculty members of KUSOM
    participated in World Bank's 100-hour data literacy program in 2019 birthing
    a partnership between the World Bank and KUSOM to develop a data driven
    business analytics course for BBA level students in Nepal. Last year,
    KUSOM's data literacy taskforce (led by Asst. Professor Dipesh Karki and
    Asst. Professor Roshee Lamichhane Bhusal) conducted a needs assessment study
    to baseline the present data skills of students and understand the needs of
    the market, which informed the creation of this evidence based data
    curriculum.
    <br /><br />
    The curriculum (roughly 48 hours long) is divided into six units that covers
    topics from sourcing, analyzing and visualizing data to converting data
    insights into decisions. It integrates materials from the World Bank's
    100-hour data literacy workshop https://dataliteracy.github.io/ and has been
    customized to meet the needs and skillset of the students. The syllabus has
    been reviewed and cleared by the University's academic council and will be
    offered to the BBA students starting Fall 2020.
    <br /><br />
    This syllabus has been published under the open source CC.4.0 license to
    foster open data culture, knowledge sharing, and collaboration. All are
    encouraged to explore the website and the syllabus and should feel free to
    adapt the syllabus to better fit their own needs. This website also features
    some data-driven articles and research by the students and faculty of KUSOM.
    All contents are monitored and managed by KUSOM and all views and opinions
    expressed are that of the authors'. Please send any questions, comments or
    feedback to the authors of the specific work directly.
  </p>
</div>
