<!-- feature text and image -->
<section class="section">
  <div class="columns is-mobile is-centered">
    <div
      class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd"
    >
      <p class="title is-3 has-text-primary">Project Counts</p>
      <div class="columns is-desktop">
        <div class="column">
          <div class="notification has-text-centered">
            <p class="title">3</p>
            <p class="subtitle">Surveys and Assessments</p>
          </div>
        </div>
        <div class="column">
          <div class="notification  has-text-centered">
            <p class="title">6</p>
            <p class="subtitle">Knowledge Product</p>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <p class="title">6</p>
            <p class="subtitle">Data Product</p>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <p class="title">5</p>
            <p class="subtitle">Capacity Building</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
