<div class="container ">
  <div class="columns">
    <div class="column is-three-fifths">
      <p class="title is-4 has-text-primary">
        SOLVEATHON 2019
      </p>
      <div class="block">
        <center>
          <img
            class="is-16by9"
            src="https://www.worldbank.org/content/dam/photos/780x439/2019/dec-2/solvathon.png"
            alt=""
          />
        </center>
      </div>
      <p>
        To further the vision of data-driven decision making, the World Bank and
        the Asia Foundation with support from UKAID organized, the first of its
        kind two-day Solve-a-thon in mid-December 2019. The event brought
        together data scientists, programmers, developers, researchers, and
        professionals with diverse backgrounds, and provided them a platform to
        network and work collaboratively on data-driven projects to tackle
        developmental challenges.
        <br /><br />
        During the event, the participating teams worked with mentors and
        respective domain experts to come up with solutions, refine them and
        devise various prototypes. A total of 14 mentors and 55 participants,
        screened based on their technical and subject matter expertise along
        with their willingness and potential to continue contributing to the
        data space, participated in the Solve-a-thon.
        <br /><br />
        The participants worked on nine different projects – three culminated
        from the 100-hour Nepal Data Literacy Program organized by the World
        Bank, three proposed by the participants, and three selected by the team
        based on the pertinent developmental issues and availability of data.
        Through the projects, the participants tackled issues such as air
        pollution, tourism and women’s access to finance coming up with
        solutions such as autobots to communicate air quality and precautionary
        actions, a dashboard to visualize tourism data, and an app-based
        budgeting tool for women.
      </p>
      <br /><br />
      <p class="title is-4 has-text-primary">
        SOLVEATHON FUNDING
      </p>
      <p>
        The Solveathon will award a total amount of 10,000 USD, divided among
        two to five projects, to further develop their prototypes. Funding will
        be awarded based on a two-stage process:
        <br /><br />
        <strong>Feasibility Assessment Phase:</strong> Successful applicants
        will be awarded a maximum of $500 to conduct a feasibility assessment.
        In this phase, the awardees will assess and validate the feasibility of
        proposed prototype-- assumptions in the theory of change, analyze user
        needs, develop sustainability and action plan--, identify potential
        partners, and analyze whether similar projects are existent or being
        planned in the market. <br /><br />
        The Feasibility Assessment Phase may take a maximum of four weeks from
        the initial agreement. A key objective of this phase is to help awardees
        evaluate, iterate, and reshape their ideas. A strategic guidance will be
        offered to the awardees depending on their need and interest.
        <br /><br />
        <strong>Implementation and Review Phase:</strong> Under this phase, the
        awardees will implement their idea or prototype, evaluate its success
        and demonstrate plans for sustainability of impact. All the devised
        products will be open source – published under MIT License or CC 4.0.
        This Phase must be completed within two months of the day the contract
        is signed. Depending on the scope to further scale up, there could be a
        possibility of further funding.
      </p>
    </div>
    <div class="column"></div>
  </div>
</div>
