<p class="title is-4 has-text-primary has-text-centered">
  Surveys and Assessments
</p>
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column is-one-third">
        <a href="/unit1">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/header.jpg" alt="Unit 1" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Introduction to the Web & Spreadsheet Basics</strong>
                <p>
                  The unit covers topics on the different components of the Web,
                  importance of using spreadsheets, creating and working with
                  spreadsheets, and performing basic calculations in
                  spreadsheets.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="/unit2">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/header.jpg" alt="Unit 2" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Intro to Data Fundamentals and Finding Data Online</strong>
                <p>
                  The unit covers topics on data-driven decision making, types
                  of data, data visualizations, different formats of data,
                  finding data online and navigating national databases.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="/unit3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/header.jpg" alt="Unit 3" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Obtaining, Wrangling and Analyzing Messy Data</strong>
                <p>
                  The unit covers topics on working with messy data, parsing
                  PDFs and other formats, testing the reliability of data,
                  performing EDA, and finding stories in data visualizations.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>