<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    {{ partial "header.html" . }}
    <title>Evidence for better policy</title>
    <meta
      property="og:description"
      content="World Bank Nepal's initiatives to propel data sharing and using capacity of the wider population, and enable evidence-based policy making at every level."
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  </head>

  <body>
    <section style="padding: 1.5rem;">
      <br /><br /><br />
      {{ partial "navigation.html" . }} {{ partial "feature.html" . }}
      <br />
      <hr />
      <br />
      {{ partial "capacity.html" . }}
      <br />
      <hr />
      <br />
      {{ partial "data.html" . }}
      <br />
      <hr />
      <br />
      {{ partial "knowledge.html" . }}
      <br />
      <hr />
      <br />
      {{ partial "blogs.html" . }}
      <br />
      <hr />
      <br />
    </section>
    {{ partial "footer.html" . }}
    <script>
      $(document).ready(function() {
        $(".slider").bxSlider({
          auto: true,
          autoControls: false,
          controls: false,
          stopAutoOnClick: true,
          pager: true
        });
      });
    </script>
  </body>
</html>
